<div>
    <main class="min-h-screen bg-back_secondary">
      <app-nav-bar />
      <div
        class="min-h-screen  font-akira bg-txt m-8 p-8 rounded-md mt-40"
      >

      <h3 class="text-2xl font-bold text-primary">Conditions Générales d'Utilisation (CGU) de WeatherLoc</h3>
      <br><br>
      <h3 class="text-2xl font-bold">1. Introduction</h3>
      <br>
      Bienvenue sur WeatherLoc. 
      <br>Ces Conditions Générales d'Utilisation (CGU) régissent l'utilisation de notre application, y compris l'authentification via Google, la géolocalisation des utilisateurs à l'aide de l'API Leaflet, et la collecte de certaines données personnelles. 
      <br>En accédant à WeatherLoc, vous acceptez de vous conformer à ces CGU.
      <br><br>
      <h3 class="text-2xl font-bold">2. Services offerts</h3>
      <br>
      WeatherLoc offre les services suivants :
      <br><br>
      <a class="font-semibold">Authentification via Google</a> : Les utilisateurs peuvent se connecter à l'application en utilisant leur compte Google.
      <br><a class="font-semibold">Géolocalisation</a> : L'application utilise l'API Leaflet pour déterminer et afficher la position géographique des utilisateurs.
      <br><a class="font-semibold">Collecte de données </a>: WeatherLoc collecte et stocke les positions géographiques des utilisateurs, leur adresse email et leur nom.
      <br><br>
      <h3 class="text-2xl font-bold">3. Utilisation des données</h3>
      <br>
      <h4 class="text-xl font-bold">3.1. Données collectées</h4>
      <br>
      Nous collectons les données suivantes :
      <br><br>
      <a class="font-semibold">Adresse email</a> : Utilisée pour l'authentification et la communication avec l'utilisateur.
      <br>
      <a class="font-semibold">Nom </a>: Utilisé pour personnaliser l'expérience utilisateur.
      <br>
      <a class="font-semibold">Positions géographiques</a> : Utilisées pour fournir des services de géolocalisation.
      <br><br>
      <h4 class="text-xl font-bold">3.2. Utilisation des données</h4>
      <br>
      Les données collectées sont utilisées pour :
      <br><br>
      Authentifier et gérer les comptes utilisateurs.
      <br>Fournir des services de géolocalisation.
      <br>Améliorer et personnaliser les services offerts par WeatherLoc.
      <br><br>
      <h3 class="text-2xl font-bold">4. Partage des données</h3>
      <br>
      Nous ne partageons pas vos données personnelles avec des tiers, sauf dans les cas suivants :
      <br><br>
      Lorsque cela est nécessaire pour fournir nos services.
      Si la loi nous y oblige.
      <br><br>
      <h3 class="text-2xl font-bold">5. Sécurité des données</h3>
      <br>
      Nous mettons en œuvre des mesures de sécurité techniques et organisationnelles appropriées pour protéger vos données personnelles contre tout accès, divulgation, altération ou destruction non autorisés.
      <br><br>
      <h3 class="text-2xl font-bold">6. Droits des utilisateurs</h3>
      <br>
      Vous avez le droit de :
      <br><br>
      Accéder à vos données personnelles.
      <br>Demander la correction de données inexactes.
      <br>Demander la suppression de vos données personnelles.
      <br>Vous opposer au traitement de vos données personnelles.
      <br><br>Pour exercer ces droits, veuillez nous contacter à l'adresse suivante : <a class="underline" href="mailto:a_beaulieu1@stu-digital-campus.fr">a_beaulieu1&#64;stu-digital-campus.fr</a>.
      <br><br>
      <h3 class="text-2xl font-bold">7. Modifications des CGU</h3>
      <br>
      Nous nous réservons le droit de modifier ces CGU à tout moment. 
      <br>Toute modification sera publiée sur cette page et, le cas échéant, notifiée par email. 
      <br>Votre utilisation continue de WeatherLoc après la publication des modifications constitue votre acceptation de celles-ci.
      <br><br>
      <h3 class="text-2xl font-bold">8. Contact</h3>
      <br>
      Pour toute question concernant ces CGU, veuillez nous contacter à : <a class="underline" href="mailto:a_beaulieu1@stu-digital-campus.fr">a_beaulieu1&#64;stu-digital-campus.fr</a>.
      </div>
    </main>
    <app-footer />
  </div>
  