<nav
  class="z-50 fixed top-0 left-0 bg-back w-screen border-b border-b-slate-300"
>
  <div class="w-full flex justify-between text-white p-4 relative">
    <fa-icon
      (click)="toggle()"
      [icon]="faBars"
      class="absolute top-4 left-4 text-2xl"
    ></fa-icon>
    <div class="w-screen flex justify-start items-start flex-col gap-4">
      <img class="text-xl font-bold  mx-auto w-40 h-auto" src="../../../assets/images/logo-wl.png" alt="logo WeatherLoc">
      <ul
        id="menu"
        [class.hidden]="!menuVisible"
        class="flex justify-start items-start flex-col gap-4 text-white text-xl font-bold px-4"
      >
        <li><a aria-current="page" [routerLink]="['/home']">Accueil</a></li>
        <li><a aria-current="page" [routerLink]="['/history']">Historique</a></li>
        <li><a aria-current="page" [routerLink]="['/cgu']">Conditions d'utilisations</a></li>
      </ul>
    </div>

    <!-- <div *ngIf="name">
      <p class="text-white">Bienvenue {{ name }} {{ email }}</p>
    </div> -->
    <div class="absolute top-4 right-4">
      <a (click)="signOut()" [routerLink]="['/']" class="text-2xl"
        ><fa-icon [icon]="faRightFromBracket"></fa-icon
      ></a>
    </div>
  </div>
</nav>
