<div class="h-screen w-screen flex flex-col justify-start items-start p-mobile">
  <div id="map" class="-z-10 mobile-map"></div>
  <div
    class="w-full h-fit p-mobile flex justify-center items-center rounded-md"
  >
    <div class="w-full flex justify-start items-start py-4">
      <button
        (click)="toggleInfo()"
        class="bg-txt p-2 rounded-full text-primary mr-4"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          class="w-6 h-6 fill-current"
        >
          <path d="M0 0h24v24H0z" fill="none" />
          <path
            d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-9h2v6h-2zm0-4h2v2h-2z"
          />
        </svg>
      </button>
      <ul *ngIf="showInfo" class="bg-txt p-4 rounded-md">
        <li>
          Votre position :
          <span class="font-bold text-primary">{{ data.city }}</span>
        </li>
        <li>
          Situation :
          <span class="font-bold text-primary">{{ data.desc }}</span>
        </li>
        <li>
          Humidité :
          <span class="font-bold text-primary">{{ data.humidity }}%</span>
        </li>
        <li>
          Température :
          <span class="font-bold text-primary">{{ data.temp }}°</span>
        </li>
        <li>
          Température minimum :
          <span class="font-bold text-primary">{{ data.temp_min }}°</span>
        </li>
        <li>
          Température maximum :
          <span class="font-bold text-primary">{{ data.temp_max }}°</span>
        </li>
        <li>
          <button
            [routerLink]="['/history']"
            class="p-3 transition-all duration-500 ease-in-out font-bold text-primary border border-solid border-primary hover:bg-primary hover:text-txt"
          >
            Voir Historique
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
