<div class="h-screen w-screen flex flex-col justify-start items-start p-mobile">
  <div class="bg-secondary text-white p-2">
    <p>Vos données métérologiques sont actualisées toutes les 30 minutes.</p>
  </div>
  <div id="map" class="-z-10 mobile-map"></div>
  <div
    class="w-full h-fit p-mobile flex justify-center items-center rounded-md"
  >
    <div class="w-full flex justify-start items-start py-4">
      <ul class="bg-txt p-4 rounded-md">
        <li>
          Votre position :
          <span class="font-bold text-secondary">{{ data.city }}</span>
        </li>
        <li>
          Situation :
          <span class="font-bold text-secondary">{{ data.desc }}</span>
        </li>
        <li>
          Humidité :
          <span class="font-bold text-secondary">{{ data.humidity }}%</span>
        </li>
        <li>
          Température :
          <span class="font-bold text-secondary">{{ data.temp }}°</span>
        </li>
        <li>
          Température minimum :
          <span class="font-bold text-secondary">{{ data.temp_min }}°</span>
        </li>
        <li>
          Température maximum :
          <span class="font-bold text-secondary">{{ data.temp_max }}°</span>
        </li>
        <li>
          <button
            [routerLink]="['/history']"
            class="p-3 transition-all duration-500 ease-in-out font-bold text-secondary border border-solid border-secondary hover:bg-secondary hover:text-txt"
          >
            Voir Historique
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
