<div
  class="h-screen w-screen flex flex-col justify-center items-start p-mobile"
>
  <div>
    <ul>
      <li>{{ data.city }}</li>
      <li>{{ data.date }}</li>
      <li>{{ data.desc }}</li>
      <li>{{ data.humidity }}</li>
      <li>{{ data.temp }}</li>
      <li>{{ data.temp_min }}</li>
      <li>{{ data.temp_max }}</li>
    </ul>
  </div>
  <div id="map" class="mobile-map"></div>
  <div
    class="w-full h-fit p-mobile flex justify-center items-center rounded-md"
  >
    <button
      [routerLink]="['/history']"
      class="p-3 transition-all duration-500 ease-in-out font-bold text-white hover:bg-primary hover:text-white"
    >
      Historique
    </button>
  </div>
</div>
